### Nama : SHAFIRA OCTAFIA
### NIM    : 2109106023
### Posttest 4 Kecerdasan Buatan

In [1]:
### Mengimport Library dan untuk Membaca File csv nya

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
dataset_split = pd.read_csv("ramenRatings.csv")

In [3]:
dataset_split.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [4]:
dataset_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [5]:
dataset_split.shape

(2580, 7)

#### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [49]:
X = dataset_split.iloc[:,:-1]
y = dataset_split.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [50]:
print("Dimensi X_train :", X_train.shape)
print("Dimensi X_test :", X_test.shape)
print("Dimensi y_train :", y_train.shape)
print("Dimensi y_test :", y_test.shape)

Dimensi X_train : (1806, 6)
Dimensi X_test : (774, 6)
Dimensi y_train : (1806,)
Dimensi y_test : (774,)

#### Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [8]:
dataset_split = pd.read_csv("ramenRatingsRusak2.csv")

In [9]:
dataset_split.isna().sum()

Review #       0
Brand          0
Variety        0
Style          2
Country        0
Stars          0
Top Ten     2539
dtype: int64

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
imputer = SimpleImputer(strategy="most_frequent")

In [12]:
dataset_split["Style"] = imputer.fit_transform(dataset_split[["Style"]])

In [13]:
dataset_split.isna().sum()

Review #       0
Brand          0
Variety        0
Style          0
Country        0
Stars          0
Top Ten     2539
dtype: int64

In [14]:
imputer = SimpleImputer(strategy="most_frequent")

In [15]:
dataset_split["Top Ten"] = imputer.fit_transform(dataset_split[["Top Ten"]])

In [16]:
dataset_split.isna().sum()

Review #    0
Brand       0
Variety     0
Style       0
Country     0
Stars       0
Top Ten     0
dtype: int64

#### Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [17]:
dataset_split[dataset_split.duplicated()]

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
14,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,\n
15,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,\n
16,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,\n
17,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,\n
18,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,\n
19,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,\n
23,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,\n
24,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,\n
25,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,\n
26,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,\n
27,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,\n
28,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,\n
32,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,\n
33,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,\n
34,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,\n
35,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,\n
36,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,\n
37,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,\n
38,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,\n
39,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,\n
48,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,\n
49,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,\n
50,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,\n
51,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,\n
52,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,\n
53,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,\n
54,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,\n
55,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,\n
62,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,\n
63,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,\n
64,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,\n
65,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,\n
66,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,\n
67,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,\n
68,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,\n
69,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,\n

In [18]:
dataset_split.duplicated().sum()

36

In [19]:
dataset_split.drop_duplicates(inplace=True)

In [20]:
dataset_split[dataset_split.duplicated()]

Empty DataFrame
Columns: [Review #, Brand, Variety, Style, Country, Stars, Top Ten]
Index: []

In [21]:
dataset_split.duplicated().sum()

0

##### Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

#### Data transforming ( Normalisasi )
#### Dilakukan setelah Cleaning data

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
min_max_scaler = MinMaxScaler()

In [24]:
x_scaled = min_max_scaler.fit_transform(dataset_split[['Review #']])

In [25]:
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0
0  1.000000
1  0.999612
2  0.999225
3  0.998837
4  0.998449

#### Data transforming ( Standarisasi )
#### Dilakukan setelah Cleaning data

In [52]:
np.std(dataset_split)

Review #    744.781791
dtype: float64

In [27]:
from sklearn.preprocessing import StandardScaler

In [28]:
standar_scaler = StandardScaler()

In [29]:
x_scaled2 = standar_scaler.fit_transform(
    dataset_split[['Review #']])

In [30]:
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

          0
0  1.778550
1  1.777189
2  1.775829
3  1.774468
4  1.773107

In [31]:
np.std(x_scaled2)

1.0

In [32]:
np.mean(x_scaled2)

-8.937644474969814e-17

#### Ganti tipe data salah satu attribute angka atau Mengubah tipe data atribut

In [38]:
tipe_angka = pd.read_csv("ramenRatings.csv")

In [40]:
tipe_angka ["Review #"].dtypes

dtype('int64')

In [41]:
tipe_objek = tipe_angka[["Review #"]].astype("object")
tipe_objek["Review #"].dtypes

dtype('O')

#### One hot encoding pada dataset

In [42]:
from sklearn.preprocessing import OneHotEncoder

In [43]:
dataset_oneHot = pd.read_csv("ramenRatings.csv")

In [44]:
one_hot_encoding = OneHotEncoder(sparse=False)

In [46]:
Star_encoded = one_hot_encoding.fit_transform(dataset_oneHot[['Stars']])

In [47]:
Star_encoded2 = pd.DataFrame(Star_encoded)
dataset_oneHot = dataset_oneHot.join(Star_encoded2 )

In [48]:
dataset_oneHot.head(10)

,Review #,Brand,Variety,Style,Country,Stars,Top Ten,0,1,2,...,33,34,35,36,37,38,39,40,41,42
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2575,Samyang Foods,Kimchi song Song Ramen,Pack,South Korea,4.75,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,2574,Acecook,Spice Deli Tantan Men With Cilantro,Cup,Japan,4,NaN,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2573,Ikeda Shoku,Nabeyaki Kitsune Udon,Tray,Japan,3.75,NaN,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2572,Ripe'n'Dry,Hokkaido Soy Sauce Ramen,Pack,Japan,0.25,NaN,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2571,KOKA,The Original Spicy Stir-Fried Noodles,Pack,Singapore,2.5,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0