## Posttest 2 Kecerdasan buatan
### Menganalisis Dataset IMDB Horror movies


Untuk menganalisi data set kita membutuhkan library python dengan mengimport pandas as pd

df.info() : Berfungsi untuk menampilkan informasi lebih detail mengenai struktur dataset

df.head() : Berfungsi untuk menampilkan data pertama

In [27]:
import pandas as pd
df = pd.read_csv("IMDB Horror movies.csv")
df.head(8)

   Unnamed: 0  Review Rating
0           0              3
1           1              8
2           2              8
3           3              3
4           4              5
5           5              8
6           6              5
7           7              6

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3328 entries, 0 to 3327
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     3328 non-null   int64
 1   Review Rating  3328 non-null   int64
dtypes: int64(2)
memory usage: 52.1 KB

##### Posttest 2 Kecerdasan Buatan ketentuan 1

Informasi yang didapatkan yaitu jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

df.size : Berfungsi mengetahui jumlah record

df.select_dtypes :Berfungsi untuk mengembalikan dataframe baru yang menyertakan kolom dari tipe yang ditentukan

In [29]:
df.size

6656

In [30]:
for i in range (len(df.columns)):
    print(df.columns[i])
    i+=1

Unnamed: 0
Review Rating

In [31]:
len(df.select_dtypes(['object']).columns)

0

In [32]:
len(df.select_dtypes(['float64','int64']).columns)

2

In [33]:
len(df.loc[:, df.isna().any()].columns)

0

##### Posttest 2 Kecerdasan Buatan ketentuan 2

Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. tampilkan isi dari 

mengakses dictionary dengan perulangan for
len() : fungsi untuk mengembalikan nilai panjang (jumlah anggota) dari suatu objek

In [34]:
movie = {
    'jumlah_record' : df.size,
    'nama_attribute': df.columns,
    'attribute_objek' : df.select_dtypes(['object']).columns,
    'attribute_angka' : df.select_dtypes(['float64','int64']).columns,
    'attribute_null' : df.loc[:, df.isna().any()].columns
}

print("======================================================================")
print("|               Menganalisis Dataset IMDB Horror movies              |")
print("|                             Posttest 2                             |")
print("======================================================================")
print("Jumlah Record \t\t\t\t:", movie['jumlah_record'])
print("\nJumlah Atribut \t\t\t\t:", len(movie['nama_attribute']))
print("\nJumlah Atribut dengan Tipe Objek \t:", len(movie['attribute_objek']))
print("\nJumlah Atribut dengan Tipe Angka \t:", len(movie['attribute_angka']))
print("\nJumlah Atribut yang Memiliki Nilai Null :", len(movie['attribute_null']))

print("\n========================")
print("  No\t| Nama Atribut")
print("------------------------")
for i in range (len(movie['nama_attribute'])):
    print(" ", i, "\t|", movie['nama_attribute'][i])
    i+=1

print("\n===============================")
print("  No\t| Atribut Tipe Object")
print("-------------------------------")
for i in range (len(movie['attribute_objek'])):
    print(" ", i, "\t|", movie['attribute_objek'][i])
    i+=1
    
print("\n==============================")
print("  No\t| Atribut Tipe Angka")
print("------------------------------")
for i in range (len(movie['attribute_angka'])):
    print(" ", i, "\t|", movie['attribute_angka'][i])
    i+=1
        
print("\n=====================================")
print("  No\t| Atribut dengan Nilai Null")
print("-------------------------------------")
for i in range (len(movie['attribute_null'])):
    print(" ", i, "\t|", movie['attribute_null'][i])
    i+=1

======================================================================
|               Menganalisis Dataset IMDB Horror movies              |
|                             Posttest 2                             |
======================================================================
Jumlah Record 				: 6656

Jumlah Atribut 				: 2

Jumlah Atribut dengan Tipe Objek 	: 0

Jumlah Atribut dengan Tipe Angka 	: 2

Jumlah Atribut yang Memiliki Nilai Null : 0

========================
  No	| Nama Atribut
------------------------
  0 	| Unnamed: 0
  1 	| Review Rating

===============================
  No	| Atribut Tipe Object
-------------------------------

==============================
  No	| Atribut Tipe Angka
------------------------------
  0 	| Unnamed: 0
  1 	| Review Rating

=====================================
  No	| Atribut dengan Nilai Null
-------------------------------------

###### Posttest 2 Kecerdasan Buatan Ketentuan 3
Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.


df.describe() : Digunakan untuk menampilkan deskriptif statik data.

In [35]:
df.describe()

        Unnamed: 0  Review Rating
count  3328.000000    3328.000000
mean   1663.500000       4.878005
std     960.855175       1.695170
min       0.000000       1.000000
25%     831.750000       4.000000
50%    1663.500000       5.000000
75%    2495.250000       6.000000
max    3327.000000       9.000000

##### Posttest 2 Kecerdasan Buatan Ketentuan 4
Tampilkan nilai korelasi attribute bertipe angka.

df.corr() : Berfungsi untuk mengetahui korelasi antar kolom

In [36]:
df.corr()

               Unnamed: 0  Review Rating
Unnamed: 0       1.000000      -0.026242
Review Rating   -0.026242       1.000000

##### Posttest 2 Kecerdasan Buatan Ketentuan 5
Ubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

df.head : Berfungsi untuk menampilkan data pertama

In [37]:
df.head(8)

   Unnamed: 0  Review Rating
0           0              3
1           1              8
2           2              8
3           3              3
4           4              5
5           5              8
6           6              5
7           7              6

In [38]:
df = df.fillna(0)
df[['Review Rating']] = df[['Review Rating']].astype(int)
df.head(8)

   Unnamed: 0  Review Rating
0           0              3
1           1              8
2           2              8
3           3              3
4           4              5
5           5              8
6           6              5
7           7              6

##### Posttest 2 Kecerdasan Buatan Ketentuan 6

Tampilkan 10 record pertama dari attribute bertipe angka.

In [39]:
df[["Review Rating"]].head(10)

   Review Rating
0              3
1              8
2              8
3              3
4              5
5              8
6              5
7              6
8              4
9              5

#####  Posttest 2 Kecerdasan Buatan Ketentuan 7
Simpan dataset dengan attribute bertipe angka ke dalam file CSV.

In [41]:
df[["Review Rating"]].to_csv("IMDB Horror movies 2.csv")