## POSTTEST 5 Kecerdasan Buatan
 NAMA    : SHAFIRA OCTAFIA <br>
 NIM     : 2109106023

### Import Library

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("HRDatasetv14.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [4]:
df.head(10)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
5,"Anderson, Linda",10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,1/7/2019,0,15
6,"Andreola, Colby",10194,0,0,0,1,4,3,0,95660,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,1/2/2019,0,19
7,"Athwal, Sam",10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,2/25/2019,0,19
8,"Bachiochi, Linda",10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,1/25/2019,0,4
9,"Bacong, Alejandro",10250,0,2,1,1,3,3,0,50178,...,Peter Monroe,7.0,Indeed,Fully Meets,5.00,5,6,2/18/2019,0,16

#### Mengecek apakah ada data yang duplicate
#### Ternyata di dataset saya tidak ada duplicate tetapi memiliki nilai NULL, Maka dari itu perlu dilakukan Cleaning Data

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [Employee_Name, EmpID, MarriedID, MaritalStatusID, GenderID, EmpStatusID, DeptID, PerfScoreID, FromDiversityJobFairID, Salary, Termd, PositionID, Position, State, Zip, DOB, Sex, MaritalDesc, CitizenDesc, HispanicLatino, RaceDesc, DateofHire, DateofTermination, TermReason, EmploymentStatus, Department, ManagerName, ManagerID, RecruitmentSource, PerformanceScore, EngagementSurvey, EmpSatisfaction, SpecialProjectsCount, LastPerformanceReview_Date, DaysLateLast30, Absences]
Index: []

[0 rows x 36 columns]

In [9]:
print("==========================================================")
print("      Tampilan Dataset Sebelum dilakukan Data Cleaning    ")
print("==========================================================")
df.isna().sum()

==========================================================
      Tampilan Dataset Sebelum dilakukan Data Cleaning
==========================================================

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

#### Menghapus Nilai NULL pada Tipe Data Object

In [10]:
from sklearn.impute import SimpleImputer

In [11]:
simpleImptObj = SimpleImputer(strategy = 'most_frequent')

In [15]:
df['DateofTermination'] = simpleImptObj.fit_transform(df[['DateofTermination']])


### Menghapus Nilai NULL Pada Tipe Data Float

In [14]:
simpleImptFloat = SimpleImputer(strategy = 'mean')

In [16]:
df['ManagerID'] = simpleImptObj.fit_transform(df[['ManagerID']])

In [17]:
print("==========================================================")
print("      Tampilan Dataset Sesudah dilakukan Data Cleaning    ")
print("==========================================================")
df.isna().sum()

==========================================================
      Tampilan Dataset Sesudah dilakukan Data Cleaning
==========================================================

Employee_Name                 0
EmpID                         0
MarriedID                     0
MaritalStatusID               0
GenderID                      0
EmpStatusID                   0
DeptID                        0
PerfScoreID                   0
FromDiversityJobFairID        0
Salary                        0
Termd                         0
PositionID                    0
Position                      0
State                         0
Zip                           0
DOB                           0
Sex                           0
MaritalDesc                   0
CitizenDesc                   0
HispanicLatino                0
RaceDesc                      0
DateofHire                    0
DateofTermination             0
TermReason                    0
EmploymentStatus              0
Department                    0
ManagerName                   0
ManagerID                     0
RecruitmentSource             0
PerformanceScore              0
EngagementSurvey              0
EmpSatisfaction               0
SpecialProjectsCount          0
LastPerformanceReview_Date    0
DaysLateLast30                0
Absences                      0
dtype: int64

 ### Data Splitting

In [18]:
x = df[['MarriedID','PositionID','PerfScoreID','Absences']]
y = df['DeptID']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0)

### Menggunakan 2 Algoritma KNN ( Algoritma K-Nearest Neighbor) dan Naive Bayes untuk membandingkan score atau hasil terbaik

### Algoritma KNN ( Algoritma K-Nearest Neighbor )

In [22]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
modelKNN = KNeighborsClassifier(n_neighbors = 5)

In [24]:
modelKNN.fit(x_train, y_train)

KNeighborsClassifier()

###### Menampilkan K-Nearest Neighbor pada Testing data

In [26]:
modelKNN.score(x_train, y_train)

0.9012875536480687

###### Menampilkan K-Nearest Neighbor pada Training data

In [27]:
modelKNN.score(x_test, y_test)

0.8846153846153846

### Algoritma NAIVE BAYES

In [28]:
from sklearn.naive_bayes import GaussianNB

In [29]:
modelGNB = GaussianNB()

In [30]:
modelGNB.fit(x_train, y_train)

GaussianNB()

In [31]:
predictionGNB = modelGNB.predict(x_test)

###### Menampilkan Naive Bayes pada Testing data

In [33]:
modelGNB.score(x_test, y_test)

0.4230769230769231

###### Menampilkan Naive Bayes pada Training data

In [34]:
modelGNB.score(x_train, y_train)

0.4034334763948498

### Algoritma Decision Tree

In [35]:
from sklearn.tree import DecisionTreeClassifier

In [36]:
modelDT = DecisionTreeClassifier().fit(x_train, y_train)

###### Menampilkan Decision Tree  pada Testing data

In [37]:
modelDT.score(x_test, y_test)

0.9487179487179487

###### Menampilkan Decision Tree  pada Training data

In [38]:
modelDT.score(x_train, y_train)

1.0

### Membandingkan Score akurasi tiap algoritma
Saya memilih menggunakan classification dengan menggunakan 3 Algoritma yaitu K-Nearest Neighbour, Naive Bayes, dan Decision Tree menampilkan perbandingan score

In [73]:
print("==========================================================================================================|")
print("|     ALGORITMA    |                  TRAINING                |                TESTING                    |")
print("|==================|==========================================|===========================================|")
print("|        KNN       |            ",modelKNN.score(x_train, y_train)*100,"           | ", modelKNN.score(x_test, y_test)*100, "                       |")
print("|__________________|__________________________________________|___________________________________________|")
print("|    Naive Bayes   |            ",modelGNB.score(x_test, y_test)*100,  "           | ", modelGNB.score(x_train, y_train)*100,"                      |")
print("|__________________|__________________________________________|___________________________________________|")
print("|   Decision Tree  |           ",modelDT.score(x_test, y_test)*100,  "            | ",  modelDT.score(x_train, y_train)*100,"                                   |")
print("|__________________|__________________________________________|___________________________________________|")

==========================================================================================================|
|     ALGORITMA    |                  TRAINING                |                TESTING                    |
|==================|==========================================|===========================================|
|        KNN       |             90.12875536480686            |  88.46153846153845                        |
|__________________|__________________________________________|___________________________________________|
|    Naive Bayes   |             42.30769230769231            |  40.343347639484975                       |
|__________________|__________________________________________|___________________________________________|
|   Decision Tree  |            94.87179487179486             |  100.0                                    |
|__________________|__________________________________________|___________________________________________|